<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password</title>
    <!--Google Font-->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap" rel="stylesheet">
    <!--Stylesheet-->
    {% load static %}
    <link rel="stylesheet" href="{% static 'passStyle.css' %}">
</head>


<body>
<div class="container">
 	<div class="header">
 		<h1> <span class="redClr">Pass</span>word Gene<span class="redClr">rated</span></h1>
 	</div>
 	<div class="main">
 		<form  action="{% url 'home' %}">

            <h3> your generated password is: </h3>
            <h2> <i>{{ password }}</i>   </h2>
            <br>
        <p> Do not share this password with any one!!</p>

 				<button type = "submit" >Back to home page</button>

 		</form>
 	</div>
 </div>

</body>
</html>